<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.boluo.hr.mapper.DepartmentMapper">
    <resultMap id="BaseResultMap" type="org.boluo.hr.pojo.Department">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="dep_path" property="depPath" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="is_iarent" property="isParent" jdbcType="BIT"/>
    </resultMap>
    <resultMap id="hasChildrenDepartment" type="org.boluo.hr.pojo.Department" extends="BaseResultMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <collection property="children" ofType="org.boluo.hr.pojo.Department" select="selectByParentId" column="id"/>
    </resultMap>
    <sql id="column">id, `name`, parent_id, dep_path, enabled, is_parent</sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="column"/>
        from department
    </select>
    <select id="selectByName" resultMap="BaseResultMap">
        select <include refid="column"/>
        from department
        where name like concat('%',#{name},'%')
    </select>
    <delete id="deleteByDepPath">
        delete from department
        where dep_path like concat(#{depPath}, '%')
    </delete>
    <select id="selectByParentId" resultMap="hasChildrenDepartment">
        select *
        from department
        where parent_id = #{id} and enabled = 1
    </select>
    <select id="selectAllDepWithDisabled" resultMap="BaseResultMap">
        select *
        from department
        where enabled = 0
    </select>
    <select id="lastInsertId" resultType="java.lang.Integer">
        select last_insert_id();
    </select>
    <select id="selectCountByParentId" resultType="java.lang.Integer">
        select count(*)
        from department
        where parent_id = #{id}
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select <include refid="column"/>
        from department
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectNameByKey" resultType="string">
        select name
        from department
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from department
        where id = #{id}
    </delete>
    <insert id="insertDepartment" parameterType="org.boluo.hr.pojo.Department">
        insert into department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="parentId != null">
                parentId,
            </if>
            <if test="depPath != null">
                depPath,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="isParent != null">
                isParent,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="depPath != null">
                #{depPath,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
            <if test="isParent != null">
                #{isParent,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="org.boluo.hr.pojo.Department">
        update department
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="depPath != null">
                dep_path = #{depPath,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="isParent != null">
                is_parent = #{isParent,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>