<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.boluo.hr.mapper.EmployeeRemoveMapper">
    <sql id="column">id, employee_id, before_department_id, before_job_id, after_department_id,
                    after_job_id, remove_date, reason, remark</sql>
    <resultMap id="BaseResultMap" type="org.boluo.hr.pojo.EmployeeRemove">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="employee_id" property="employeeId" jdbcType="INTEGER"/>
        <result column="after_department_id" property="afterDepartmentId" jdbcType="INTEGER"/>
        <result column="after_job_id" property="afterJobId" jdbcType="INTEGER"/>
        <result column="before_department_id" property="beforeDepartmentId" jdbcType="INTEGER"/>
        <result column="before_job_id" property="beforeJobId" jdbcType="INTEGER"/>
        <result column="remove_date" property="removeDate" jdbcType="DATE"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="hasEmployeeResultMap" type="org.boluo.hr.pojo.EmployeeRemove" extends="BaseResultMap">
        <association property="employee" javaType="org.boluo.hr.pojo.Employee">
            <id property="id" column="employee_id"/>
            <result column="employeeName" property="name"/>
        </association>
    </resultMap>
    <select id="selectAll" resultMap="hasEmployeeResultMap">
        select emove.*, emp.name as employeeName
        from employee_remove emove
        join employee emp on emp.id = emove.employee_id
        join department oldDep on oldDep.id = emove.before_department_id
        join joblevel oldJob on oldJob.id = emove.before_job_id
        join department newDep on newDep.id = emove.after_department_id
        join joblevel newJob on newJob.id = emove.after_job_id
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select <include refid="column"/>
        from employee_remove
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from employee_remove
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertEmployeeRemove" parameterType="org.boluo.hr.pojo.EmployeeRemove">
        insert into employee_remove
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="employeeId != null">
                employee_id,
            </if>
            <if test="afterDepartmentId != null">
                after_department_id,
            </if>
            <if test="afterJobId != null">
                after_job_id,
            </if>
            <if test="beforeDepartmentId != null">
                before_department_id,
            </if>
            <if test="beforeJobId != null">
                before_job_id,
            </if>
            <if test="removeDate != null">
                remove_date,
            </if>
            <if test="reason != null">
                reason,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="employeeId != null">
                #{employeeId,jdbcType=INTEGER},
            </if>
            <if test="afterDepartmentId != null">
                #{afterDepartmentId,jdbcType=INTEGER},
            </if>
            <if test="afterJobId != null">
                #{afterJobId,jdbcType=INTEGER},
            </if>
            <if test="beforeDepartmentId != null">
                #{beforeDepartmentId,jdbcType=DATE},
            </if>
            <if test="beforeJobId != null">
                #{beforeJobId,jdbcType=VARCHAR},
            </if>
            <if test="removeDate != null">
                #{removeDate,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="org.boluo.hr.pojo.EmployeeRemove">
        update employee_remove
        <set>
            <if test="employeeId != null">
                employee_id = #{eid,jdbcType=INTEGER},
            </if>
            <if test="afterDepartmentId != null">
                after_department_id = #{afterdepid,jdbcType=INTEGER},
            </if>
            <if test="afterJobId != null">
                after_job_id = #{afterjobid,jdbcType=INTEGER},
            </if>
            <if test="beforeDepartmentId != null">
                before_department_id = #{removedate,jdbcType=DATE},
            </if>
            <if test="beforeJobId != null">
                before_job_id = #{reason,jdbcType=VARCHAR},
            </if>
            <if test="removeDate != null">
                remove_date = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>