<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.boluo.hr.mapper.OperatorLogMapper" >
  <resultMap id="BaseResultMap" type="org.boluo.hr.pojo.OperatorLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="event" property="event" jdbcType="VARCHAR" />
    <result column="hr_id" property="hrId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="column">id, create_date, event, hr_id, address, type, content</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select <include refid="column" />
    from operator_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operator_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertOperatorLog" parameterType="org.boluo.hr.pojo.OperatorLog" >
      insert into operator_log
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="createDate != null">
              create_date,
          </if>
          <if test="event != null">
              `event`,
          </if>
          <if test="hrId != null">
              hr_id,
          </if>
          <if test="address != null">
              address,
          </if>
          <if test="type != null">
              type,
          </if>
          <if test="content != null">
              content,
          </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="createDate != null">
              #{createDate,jdbcType=DATE},
          </if>
          <if test="event != null">
              #{event,jdbcType=VARCHAR},
          </if>
          <if test="hrId != null">
              #{hrId,jdbcType=INTEGER},
          </if>
          <if test="address != null">
              #{address,jdbcType=VARCHAR},
          </if>
          <if test="type != null">
              #{type,jdbcType=VARCHAR},
          </if>
          <if test="content != null">
              #{content,jdbcType=VARCHAR},
          </if>
      </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.boluo.hr.pojo.OperatorLog" >
    update operator_log
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="event != null" >
        `event` = #{event,jdbcType=VARCHAR},
      </if>
      <if test="hrId != null" >
        hr_id = #{hrId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>