<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.boluo.hr.mapper.PoliticsStatusMapper" >
  <resultMap id="BaseResultMap" type="org.boluo.hr.pojo.PoliticsStatus" >
    <id column="id" property="id"  />
    <result column="name" property="name" />
  </resultMap>
  <select id="selectAllPolitics" resultMap="BaseResultMap">
    select <include refid="column"/>
    from politics_status
  </select>
  <sql id="column" >
    id, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="column" />
    from politics_status
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from politics_status
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertPoliticsStatus" parameterType="org.boluo.hr.pojo.PoliticsStatus" >
    insert into politics_status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.boluo.hr.pojo.PoliticsStatus" >
    update politics_status
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>