<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.boluo.hr.mapper.PositionMapper">
    <sql id="column">id, name, create_date, enabled</sql>
    <resultMap id="BaseResultMap" type="org.boluo.hr.pojo.Position">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_date" property="createDate"/>
        <result column="enabled" property="enabled"/>
    </resultMap>
    <select id="selectAllPosition" resultMap="BaseResultMap">
        select *
        from position;
    </select>
    <delete id="deleteMany">
        delete from position
        where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="column"/>
        from position
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findByName" resultMap="BaseResultMap">
        select <include refid="column"/>
        from position
        where name = #{name}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from position
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertPosition" parameterType="org.boluo.hr.pojo.InsertPosition">
        insert into position
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="org.boluo.hr.pojo.UploadPosition">
        update position
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>