<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boluo.hr.mapper.EmployeeecMapper" >
  <resultMap id="BaseResultMap" type="com.boluo.hr.pojo.Employeeec" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="eid" property="eid" jdbcType="INTEGER" />
    <result column="ecDate" property="ecdate" jdbcType="DATE" />
    <result column="ecReason" property="ecreason" jdbcType="VARCHAR" />
    <result column="ecPoint" property="ecpoint" jdbcType="INTEGER" />
    <result column="ecType" property="ectype" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="workId" property="workId" jdbcType="VARCHAR"/>
    <result column="EmployeeName" property="EmployeeName" jdbcType="VARCHAR"/>
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT ec.*,emp.workID as workId,emp.name as EmployeeName
    FROM `employeeec` ec,employee emp
    where ec.eid = emp.id
   </select>
  <select id="selectEid" resultType="java.lang.Integer">
    select min(id)
    from employee
    where workid = #{workId};
  </select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, eid, ecDate, ecReason, ecPoint, ecType, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.boluo.hr.pojo.EmployeeecExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from employeeec
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from employeeec
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from employeeec
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.boluo.hr.pojo.EmployeeecExample" >
    delete from employeeec
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.boluo.hr.pojo.Employeeec" >
    insert into employeeec (id, eid, ecDate, 
      ecReason, ecPoint, ecType, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{ecdate,jdbcType=DATE}, 
      #{ecreason,jdbcType=VARCHAR}, #{ecpoint,jdbcType=INTEGER}, #{ectype,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.boluo.hr.pojo.Employeeec" >
    insert into employeeec
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eid != null" >
        eid,
      </if>
      <if test="ecdate != null" >
        ecDate,
      </if>
      <if test="ecreason != null" >
        ecReason,
      </if>
      <if test="ecpoint != null" >
        ecPoint,
      </if>
      <if test="ectype != null" >
        ecType,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="ecdate != null" >
        #{ecdate,jdbcType=DATE},
      </if>
      <if test="ecreason != null" >
        #{ecreason,jdbcType=VARCHAR},
      </if>
      <if test="ecpoint != null" >
        #{ecpoint,jdbcType=INTEGER},
      </if>
      <if test="ectype != null" >
        #{ectype,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.boluo.hr.pojo.EmployeeecExample" resultType="java.lang.Integer" >
    select count(*) from employeeec
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update employeeec
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.eid != null" >
        eid = #{record.eid,jdbcType=INTEGER},
      </if>
      <if test="record.ecdate != null" >
        ecDate = #{record.ecdate,jdbcType=DATE},
      </if>
      <if test="record.ecreason != null" >
        ecReason = #{record.ecreason,jdbcType=VARCHAR},
      </if>
      <if test="record.ecpoint != null" >
        ecPoint = #{record.ecpoint,jdbcType=INTEGER},
      </if>
      <if test="record.ectype != null" >
        ecType = #{record.ectype,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update employeeec
    set id = #{record.id,jdbcType=INTEGER},
      eid = #{record.eid,jdbcType=INTEGER},
      ecDate = #{record.ecdate,jdbcType=DATE},
      ecReason = #{record.ecreason,jdbcType=VARCHAR},
      ecPoint = #{record.ecpoint,jdbcType=INTEGER},
      ecType = #{record.ectype,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.boluo.hr.pojo.Employeeec" >
    update employeeec
    <set >
      <if test="eid != null" >
        eid = #{eid,jdbcType=INTEGER},
      </if>
      <if test="ecdate != null" >
        ecDate = #{ecdate,jdbcType=DATE},
      </if>
      <if test="ecreason != null" >
        ecReason = #{ecreason,jdbcType=VARCHAR},
      </if>
      <if test="ecpoint != null" >
        ecPoint = #{ecpoint,jdbcType=INTEGER},
      </if>
      <if test="ectype != null" >
        ecType = #{ectype,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boluo.hr.pojo.Employeeec" >
    update employeeec
    set eid = #{eid,jdbcType=INTEGER},
      ecDate = #{ecdate,jdbcType=DATE},
      ecReason = #{ecreason,jdbcType=VARCHAR},
      ecPoint = #{ecpoint,jdbcType=INTEGER},
      ecType = #{ectype,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>